.transition-all {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.background-cover,
.intro-header {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.serif,
body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
nav,
.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading,
.intro-header .post-heading .subheading,
.btn,
.pagiantion li > a,
.pagiantion li > span {
  font-family: 'Noto Serif', 'Times New Roman', serif;
}
.sans-serif {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.animation,
.post-preview {
  animation: bodyshow 0.9s linear;
}
@-moz-keyframes 'bodyshow' {
  0% {
    top: -60px;
    opacity: 0;
  }
  33% {
    top: -40px;
    opacity: 0.2;
  }
  66% {
    top: -20px;
    opacity: 0.6;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@-webkit-keyframes 'bodyshow' {
  0% {
    top: -60px;
    opacity: 0;
  }
  33% {
    top: -40px;
    opacity: 0.2;
  }
  66% {
    top: -20px;
    opacity: 0.6;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@-o-keyframes 'bodyshow' {
  0% {
    top: -60px;
    opacity: 0;
  }
  33% {
    top: -40px;
    opacity: 0.2;
  }
  66% {
    top: -20px;
    opacity: 0.6;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@keyframes 'bodyshow' {
  0% {
    top: -60px;
    opacity: 0;
  }
  33% {
    top: -40px;
    opacity: 0.2;
  }
  66% {
    top: -20px;
    opacity: 0.6;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
body,
html {
  width: 100%;
  font-size: 18px;
  color: #4d4d4d;
}
p {
  letter-spacing: 0.1px;
  line-height: 1.8;
  margin: 20px 0;
}
p a {
  text-decoration: underline;
}
h1,
h2,
h3 {
  font-weight: 800;
  margin: 32px 0 20px;
}
h4,
h5,
h6 {
  font-weight: 500;
  margin: 20px 0;
}
a {
  color: #ce2323;
}
a:hover,
a:focus {
  color: #4d4d4d;
  text-decoration: none;
}
a:visited,
a:link {
  color: #ce2323;
}
a img:hover,
a img:focus {
  cursor: zoom-in;
}
hr.small {
  max-width: 100px;
  margin: 20px auto;
  border-width: 4px;
  border-color: #fff;
}
a.nav-back {
  position: absolute;
  top: 15px;
  left: 15px;
  color: rgba(0,0,0,0.5);
  z-index: 99;
}
a.nav-back:hover,
a.nav-back:focus {
  color: #ce2323;
}
nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}
.intro {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 80px auto 0;
}
.intro-header {
  background-color: transparent;
  background: no-repeat center center;
  background-attachment: scroll;
  background-size: 100%;
  margin-bottom: 50px;
}
.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  padding: 100px 0 20px;
  color: #4d4d4d;
}
.intro-header .site-heading.archives,
.intro-header .post-heading.archives,
.intro-header .page-heading.archives {
  color: rgba(0,0,0,0.5);
  margin-top: 60px;
}
.intro-header .site-heading,
.intro-header .page-heading {
  text-align: center;
}
.intro-header .site-heading h1,
.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 2em;
  color: #ce2323;
}
.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
  font-size: 24px;
  line-height: 1.1;
  display: block;
  font-weight: 300;
  margin: 10px 0 0;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    font-size: 2.2em;
  }
}
.intro-header .post-heading h1 {
  font-size: 35px;
}
.intro-header .post-heading .subheading {
  line-height: 1.1;
  display: block;
  font-size: 24px;
  margin: 10px 0 30px;
  font-weight: 600;
}
@media only screen and (min-width: 768px) {
  .intro-header .post-heading h1 {
    font-size: 55px;
  }
  .intro-header .post-heading .subheading {
    font-size: 30px;
  }
}
.post-preview {
  position: relative;
  padding: 25px 0 35px;
  min-height: 14em;
  overflow: hidden;
  clear: both;
}
.post-preview.archive {
  padding: 12px 0;
}
.post-preview p {
  margin-left: 36%;
  padding-left: 0.6em;
  font-size: 1.1em;
  line-height: 1.5;
}
.post-preview blockquote {
  margin-left: 36%;
  padding: 0.7em;
  margin-top: 10px;
  border: none;
  font-size: 1em;
}
.post-preview blockquote p {
  margin: 0;
  padding: 0;
}
.post-preview > a {
  width: 100%;
  height: 100%;
  color: #4d4d4d;
}
.post-preview > a:hover,
.post-preview > a:focus {
  text-decoration: none;
}
.post-preview > a:hover > .post-title,
.post-preview > a:focus > .post-title {
  color: #ce2323;
}
.post-preview > a > .post-title {
  float: left;
  width: 32%;
  height: 100%;
  font-size: 2em;
  margin: 21px 0;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.post-preview > a > .post-title.archive {
  font-size: 22px;
  width: 100%;
}
.post-preview img {
  display: none;
}
.section-heading {
  font-size: 36px;
  margin-top: 60px;
  font-weight: 700;
}
.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.post-content {
  padding-bottom: 100px;
}
.post-meta {
  padding-top: 50px;
}
.post-tags,
.post-categories,
.post-date {
  text-align: right;
  font-size: 1em;
  margin: 10px 0;
}
.post-tags a,
.post-categories a,
.post-date a {
  text-transform: uppercase;
  color: #ce2323;
}
.post-tags a:hover,
.post-categories a:hover,
.post-date a:hover,
.post-tags a:visited,
.post-categories a:visited,
.post-date a:visited,
.post-tags a:focus,
.post-categories a:focus,
.post-date a:focus {
  text-decoration: none;
}
.archive-before-pagination {
  height: 50px;
}
.comment {
  margin: 20px 0 100px;
}
footer {
  padding: 50px 0 65px;
  color: rgba(0,0,0,0.5);
  text-align: center;
}
.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid rgba(235,235,235,0.8);
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  box-shadow: none !important;
  resize: none;
}
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.3s ease, opacity 0.3s ease;
  -moz-transition: top 0.3s ease, opacity 0.3s ease;
  -ms-transition: top 0.3s ease, opacity 0.3s ease;
  transition: top 0.3s ease, opacity 0.3s ease;
}
.floating-label-form-group::not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid rgba(235,235,235,0.8);
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: rgba(224,71,71,0.9);
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid rgba(235,235,235,0.8);
}
.btn {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 0;
  padding: 15px 25px;
}
.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}
.btn-default:hover,
.btn-default:focus {
  background-color: rgba(224,71,71,0.9);
  border: 1px solid rgba(224,71,71,0.9);
  color: #fff;
}
.pagiantion {
  display: block;
  padding: 55px 0;
  margin: 0;
  text-align: center;
  list-style: none;
}
.pagiantion li {
  display: inline;
}
.pagiantion li > a,
.pagiantion li > span {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 15px 25px;
  color: rgba(0,0,0,0.5);
  border: none;
  border-radius: none;
}
.pagiantion li > a:hover,
.pagiantion li > a:focus {
  text-decoration: none;
  color: #ce2323;
  background-color: transparent;
}
.pagiantion .disabled > a,
.pagiantion .disabled > a:hover,
.pagiantion .disabled > a:focus,
.pagiantion .disabled > span {
  color: rgba(115,115,115,0.9);
  cursor: not-allowed;
}
::-moz-selection {
  color: #fff;
  text-shadow: none;
  background: rgba(224,71,71,0.9);
}
::selection {
  color: #fff;
  text-shadow: none;
  background: rgba(224,71,71,0.9);
}
img::selection {
  color: #fff;
  background: transparent;
}
img::-moz-selection {
  color: #fff;
  background: transparent;
}
body {
  webkit-tap-highlight-color: rgba(224,71,71,0.9);
}
